<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

  <!-- Default ApplicationContext -->
  <import resource="dataSources.xml" />
  <import resource="jpa.xml" />
  <import resource="txManager.xml" />
  <import resource="META-INF/recordsContext.xml" />
  <import resource="META-INF/utilitiesContext.xml" />
  <import resource="META-INF/webContext.xml" />
</beans>