/**
 * App-wide Styles
 */

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  font-size: 11px;
}

.k-block {
  background-color: #ffffff !important;
}

body {
  font-family: 'Noto Serif', serif;
}

#applicationHeader {
  background-color: #007acc;
  padding-left: 25px;
  padding-right: 25px;
  height: 67px;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#applicationTitlePanel > img {
  vertical-align: middle;
}

#applicationTitlePanel {
  height: 38px;
  width: 100%;
  color: white;
}

#applicationTitlePanel > tr > td {
  vertical-align: middle;
  width: 50%;
}

#applicationMenuPanel {
  background-color: #ebebeb;
  height: 28px;
}

#applicationMenuPanel > ul {
  font-family: Arial;
  border-radius: 0;
  border: none;
  height: 28px;
  font-size: 11px;
  visibility: hidden;
}

#applicationMenuPanel > ul > li {
  border: none;
}

#applicationMenuPanel > ul > li > a, #applicationMenuPanel > ul > li > a:hover {
  color: #434343;
  font-weight: 400;
  text-align: left;
  display: inline;
  text-decoration: none;
  line-height: 34px;
}

#applicationMenuPanel > ul > li > a {

}

#applicationMenuPanel > ul > li > a:hover, .activeMenuOption {
  background-color: #f9f9f9;
  padding: 1.2em 1.2em 1em 1.1em;
}

footer {
  float: left;
  height: 30px;
  clear: both;
  width: 100%;
  background-color: #c7d1da;
  position: static;
  min-width: 0px;
  top: 0px;
  left: 0px;
  margin-top: 0px;
  margin-left: 0%;
  z-index: 0;
}

.footer-text{
  font-size: 10px;
  text-align: left;
  font-weight: 400;
  line-height: 1em;
  margin-left: 50px;
  margin-top: 11px;
  min-height: 0px;
  font-family: arial;
  color: #3395d6;
  display: block;
  margin-right: 0%;
}

.loader {
  background-image: url("../assets/images/loader.gif");
  background-repeat: no-repeat;
  position: absolute;
  height: 32px;
  width: 32px;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
}

.loader-white {
  background-image: url("../assets/images/loader-white.gif");
  background-repeat: no-repeat;
  position: absolute;
  height: 32px;
  width: 32px;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
  z-index: 100;
}

.k-header {
  background-color: #dfdfdf; !important;
}

.k-grid {
  border-width: 1px !important;
  border-color: #9b9b9b;
}

.k-grid-header th.k-header, .k-filter-row th {
  border-width: 2px 0 0 0 !important;
  border-color: #9b9b9b;
}

div.k-header {
  background-color: #dfdfdf;;
  border-color: #9b9b9b;
}

.k-grid-header {
  padding-right: 0px !important;
}

div.k-grid-header > div > table > thead > tr > th  {
   background-color: #dfdfdf;
}

thead.k-grid-header > tr > th{
  background-color: #dfdfdf;
}

tr.k-detail-row.ng-scope {
  background-color: #ebf4fb;;
}

.k-pager-wrap.k-grid-pager.k-widget {
  background-color: #dfdfdf; !important;
}

#mainMenu {
  background-color: #ebebeb;
}

.k-block {
  padding: 10px!important;
}

/** PDS titles for views */
.pds-title {
  border: none !important;
  font-size: 18px !important;
  padding: 6px 0px 15px 2px !important;
  width: 99.5% !important;
}

/** PDS titles for editions forms */
.pds-title-edit {
  border-bottom: 1px solid #ccc !important;
  padding-bottom: 10px !important;
  margin-bottom: 20px !important;
}

.row {
  margin-top: 15px;
}
.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.centerButtonPanel {
  text-align: center;
  margin-top: 3px;
  margin-bottom: 8px;
}

.rightButtonPanel {
  text-align: right;
  margin-top: 6px;
}

.k-button .k-icon {
  display: block;
  margin-top: 0px;
}

button.k-button {
  color: #000000 !important;
}

#functionGroupWindow .rightButtonPanel {
  margin-bottom: 10px;
}

/** Delete warning panels */
.deleteMessage {
  display: block;
  padding: 0px 6px 10px 35px;
  margin-right: 10px;
  margin-top: 10px;
}
.deleteMessage b {
  display: block;
  padding: 5px 0px 0px 0px;
}
.k-i-note {
  display: block;
  float: left;
  margin-left: 10px;
}

/** Row details: expand/collapse */
.rowDetails {
  padding: 5px 0px 5px 10px;
  margin-bottom: 2px;
  color: #505050;
  font-size: 1.05em;
}

.rowDetails h4 {
  margin: 8px 0px 5px -10px;
  font-family: arial;
  font-size: 13px;
  font-weight: bold;
}

.rowDetails p {
  margin: 0px 0px 6px 0px;
}

.rowDetails p span {
  display: block;
  margin-left: 16px;
}

.rowDetails p span b {
  margin-right: 5px;
  color: #007acc;
}

span.k-icon.k-i-search {
  float:right;
}

/* Search box for every view */
.search {
  float: left;
  margin-right: 8px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 4px 2px 2px 2px;;
  width: 200px;
}

.search input {
  width: 140px;
  border: none;
  padding-left: 3px;
}

.search input:focus {
  outline: none;
}

.search span {
  margin: 0px 1px 3px 1px;
}

.pds-search-area{
  float: left;
  background-color: #dfdfdf;
  width: 100%;
  height: 30px;
  padding-top: 6px;
  padding-bottom: 5px;
}

input.pds-search-icon {
  margin-left: 12px;
}
input.pds-search-icon::-webkit-input-placeholder {
  font-family:'FontAwesome';
}
input.pds-search-icon::-moz-placeholder {
  font-family:'FontAwesome';
}
input.pds-search-icon::-ms-input-placeholder {
  font-family:'FontAwesome';
}
.severityResult{
  margin: 60px 10px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.modal-pull-right{
  float: right;
  margin-right: 30px;
}

.bold{
  font-weight: bold;
}

.pds-view{
  margin: 0px;
  background-color: #EEEEEE;
  min-height: 85vh;
}

.pds-view-content{
  margin: 0px 25px 25px 25px;
  background-color: #F9F9F9;
  min-height: 83vh;
  padding: 25px 25px 20px 25px;
}

#page-title{
  float: left;
  font-size: 24px;
  width: auto;
  height: auto;
  text-align: left;
  font-weight: 400;
  line-height: 1em;
  margin-left: 0px;
  margin-top: 0px;
  clear: none;
  min-height: 0px;
  margin-bottom: 20px;
  color: rgb(71, 71, 71);
  font-family: arial;
}

.pds-page-title{
  float: left;
  font-size: 24px;
  width: auto;
  height: auto;
  text-align: left;
  font-weight: 400;
  line-height: 1em;
  margin-left: 0px;
  margin-top: 0px;
  clear: none;
  min-height: 0px;
  margin-bottom: 20px;
  color: rgb(71, 71, 71);
  font-family: arial;
}

label{
  font-family: Arial;
  color: #474747;
  font-size: 11px;
  font-weight: 700;
  line-height: 14px;
  text-align: left;
}

input{
  height: 21px;
}

button{
  background-color: #66AFE0;
  color: white !important;
  line-height: 26px !important;
}

button:hover{
  background-color: rgb(153, 202, 235)
}

button:focus{
  background-color: rgb(51, 149, 214)
}

button:disabled{
  background-color: rgb(235, 235, 234);
  color: rgb(178, 179, 177) !important;
}

.primaryContainer {
  height: auto;
  margin-left: 0%;
  margin-right: 0px;
  min-height: 100%;
  width: auto;
  background-color: rgb(234, 234, 234);
  float: none;
  clear: none;
  position: relative;
  visibility: hidden;
}

#WindowArea {
  float: none;
  height: 100%;
  clear: both;
  width: auto;
  min-width: 930px;
  background-color: rgb(199, 209, 218);
  min-height: 600px;
  position: absolute;
  top: 0px;
  left: 0%;
  display: block;
  right: 0%;
}

#HeaderArea {
  float: left;
  height: 67px;
  clear: none;
  width: 100%;
  background-color: rgb(0, 122, 204);
  position: fixed;
  min-width: 0px;
  padding-right: 25px;
  padding-left: 25px;
  z-index: 100;
}

#PDS_Symbol {
  float: left;
  width: auto;
  max-width: 100%;
  height: auto;
  margin-left: 0px;
  margin-top: 9px;
  clear: both;
  color: rgb(0, 0, 0);
  margin-right: 0px;
}

#MainMenuArea {
  float: left;
  height: 27px;
  margin-left: 0px;
  margin-top: 8px;
  clear: none;
  width: 100%;
  background-color: rgb(235, 235, 235);
  margin-bottom: 0px;
  min-width: 930px;
  border-bottom-width: 1px;
  border-bottom-color: rgb(215, 215, 215);
  border-bottom-style: solid;
}

#MainMenuArea .menu-item {
  float: left;
  height: 27px;
  font-size: 11px;
  margin: 0px 0px 0px 0%;
  clear: none;
  width: auto;
  padding: 1px 10px;
  font-weight: 400;
  text-transform: uppercase;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  font-family: arial;
  border-width: 1px 1px 1px 0px;
  display: block;
  background-color: rgb(235, 235, 235);
  border-bottom-color: rgb(215, 215, 215);
  border-right-color: rgb(215, 215, 215);
  -webkit-box-shadow: none;
  box-shadow: none;
  border-top-color: rgb(235, 235, 235);
}

#MainMenuArea .menu-item:hover {
  background-color: rgb(243, 243, 243);
}

#MainMenuArea .menu-item-icon {
  float: left;
  height: 27px;
  font-size: 11px;
  margin: 0px 0px 0px 0%;
  clear: none;
  width: 34px;
  padding: 1px 10px;
  font-weight: 400;
  text-transform: uppercase;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  font-family: arial;
  border-width: 1px 1px 1px 0px;
  background-color: rgb(235, 235, 235);
  border-bottom-color: rgb(215, 215, 215);
  border-right-color: rgb(215, 215, 215);
  -webkit-box-shadow: none;
  box-shadow: none;
  border-top-color: rgb(235, 235, 235);
  background-attachment: scroll;
  -webkit-background-size: auto;
  background-size: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat no-repeat
}

#MainMenuArea .menu-item-icon:hover {
  background-color: rgb(243, 243, 243);
}

#MainMenuArea .menu-item-selected {
  height: 29px;
  margin: -2px 0px 0px;
  background-color: rgb(255, 255, 255);
}

#CenterArea {
  float: left;
  height: auto;
  margin-left: 0px;
  margin-top: 67px;
  clear: none;
  width: 100%;
  min-width: 0px;
  background-color: rgb(238, 238, 238);
  min-height: 671px;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 30px;
  z-index: 50;
}

#ContentArea {
  float: left;
  height: auto;
  margin-left: 0px;
  margin-top: 0px;
  clear: none;
  width: 100%;
  background-color: rgb(255, 255, 255);
  min-width: 930px;
  min-height: 641px;
  padding: 20px 25px 25px;
}

.pds-toolbar-area {
  float: left;
  height: 25px;
  margin-left: 0px;
  margin-top: 0px;
  clear: both;
  width: 100%;
  min-width: 880px;
  background-color: rgb(51, 149, 214);
  margin-bottom: 10px;
  color: #ffffff;
}

.pds-toolbar-area ul{
  padding-left: 0;
}

.pds-toolbar{
  list-style-type: none;
  vertical-align: middle;
}

.pds-toolbar ul{
  display: inline;
  list-style-type: none;
  padding-left: 0;
}

.pds-toolbar li{
  padding-top: 3px;
  line-height: 1.5em;
  display: inline-block;
  cursor: pointer;
  width: auto;
}

.pds-toolbar li div{
  display: inline-block;
  padding: 0px 12px;
  border-right: 1px solid rgb(117, 183, 227);
}

.pds-selectable-item:hover{
  background-color: #555555;
}

.pds-noselect{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pds-toolbar-icon{
  margin-right : 3px;
}

.pds-search-criteria-panel {
  float: left;
  margin-left: 0px;
  margin-top: 0px;
  clear: both;
  width: 100%;
  background-color: rgb(235, 235, 234);
  margin-right: 0%;
  margin-bottom: 15px;
  padding: 10px 0px 16px 0px;
}

.pds-section-header {
  float: left;
  height: auto;
  margin-left: 0%;
  margin-top: 0px;
  clear: both;
  width: 100%;
  display: block;
}

.pds-section-header-title{
  float: left;
  font-size: 11px;
  width: auto;
  height: auto;
  text-align: left;
  font-weight: 700;
  line-height: 1em;
  margin-left: 0px;
  margin-top: 0px;
  clear: none;
  min-height: 0px;
  margin-bottom: 2px;
  color: rgb(71, 71, 71);
  font-family: arial;
  margin-right: 0%;
}

.pds-section-header-content {
  font-size: 11px;
  width: auto;
  height: auto;
  text-align: left;
  font-weight: 400;
  line-height: 1em;
  margin-left: 2px;
  margin-top: 0px;
  min-height: 0px;
  margin-bottom: 2px;
  color: rgb(71, 71, 71);
  font-family: arial;
  margin-right: 0%;
  padding-left: 2px;
}

.pds-section-header-rule {
  float: left;
  height: 1px;
  margin-left: 0px;
  margin-top: 2px;
  clear: both;
  width: 100%;
  min-width: 880px;
  margin-right: 0%;
  margin-bottom: 6px;
  background-color: rgb(208, 208, 208);
}

.pds-content-section {
  float: left;
  height: auto;
  margin-left: 0px;
  margin-top: 0px;
  clear: both;
  width: 100%;
  min-width: 880px;
  margin-right: 0%;
  margin-bottom: 0px;
  background-color: rgb(235, 235, 234);
  display: block;
  min-height: 386px;
}

.treeTable{
  width: 100%;
  border: solid 1px #dfdfdf;
  margin-bottom: 6px;
}

.toolbar-button {
  float: left;
  /*height: 27px;*/
  height: 25px;
  line-height: 1.5em;
  font-size: 11px;
  margin: 0px 0px 0px 0%;
  clear: none;
  width: auto;
  padding: 0px 10px;
  font-weight: 400;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  font-family: arial;
  border-width: 0px 1px 0px 0px;
  display: block;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.k-window-titlebar{
  background-color: #007ACC !important;
  color: white !important;
  font-family: Arial !important;
}

.k-window-actions{
  background-color: #007ACC;
  color: white;
}

.pds-header-help-area{
  float: right;
  width: auto;
  height: auto;
  clear: none;
  line-height: 1em;
  font-weight: 400;
  text-align: right;
  font-size: 11px;
  min-height: 0px;
  font-family: arial;
  color: #ffffff;
  margin-top: 10px;
}

.pds-header-help-area span{
  padding: 0px 10px;
}

.pds-alternate-label{
  font-family: Arial;
  color: #7f807d;
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}

.pds-alternate-label-bold{
  font-family: Arial;
  color: #7f807d;
  font-size: 11px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
}

p.pds-alternate-label > a {
  color: #3395d6;
}

.pds-detail-row {
  float: left;
  min-height: 43px;
  margin-left: 0px;
  margin-top: 0px;
  clear: both;
  width: 100%;
  background-color: #e0e0e0;
  margin-right: 0%;
  margin-bottom: 15px;
}

.pds-clusterlamp-area {
  float: left;
  height: 32px;
  margin-left: 0px;
  margin-top: 0px;
  clear: both;
  width: 100%;
  background-color: #e0e0e0;
  margin-bottom: 10px;
}

.k-widget{
  clear: both;
  font-family: Arial;
  color: #474747;
  font-size: 11px;
  font-weight: 400;
  line-height: 20px;
}

.pds-clusterlamp{
  color: #3395D6;
  padding: 4px 0px 4px 4px;
}

.glyph {
  font-size: 16px;
  width: 15em;
  padding-bottom: 1em;
  margin-right: 4em;
  margin-bottom: 1em;
  float: left;
  overflow: hidden;
}

.fs1 {
  font-size: 25px;
}

.blue-link{
  color: #3395d6 !important;
  font-weight: 400 !important;
  line-height: 20px;
}

.k-item{
  color: #434343;
  font-size: 14px;
  font-weight: 400;
}

.k-state-active{
  font-weight: 700;
}

.pds-tab-content{
  display: none;
  margin-top: 20px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
  color: #fefefe !important;
  background-color: #3395d6 !important;
  font-weight: 700;
  border-color: white;
}

.grey-font{
  color: #848484;
  font-weight: 400;
}

.grey-font-label{
  color: #848484;
  font-weight: 700;
  margin-left: 6px;
}

.glyph img{
  position:absolute; /*see support section for more info on positioning*/
  left: -9999px; /*moves the span off the page, effectively hidding it from view*/
  /*give the thumbnails a frame*/
  background-color:#eae9d4; /*frame colour*/
  padding: 6px; /*frame size*/
  /*add a drop shadow to the frame*/
  -webkit-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
  -moz-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
  box-shadow: 0 0 6px rgba(132, 132, 132, .75);
  /*and give the corners a small curve*/
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.glyph span:hover{
  z-index: 50; /*places the popups infront of the thumbnails, which we gave a z-index of 0 in step 1*/
  cursor:pointer;
}

.glyph span:hover img{
  top: 20px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
  left: 100px; /*distance from the left of the thumbnail to the left of the popup image*/
  z-index: 500;
}

.pds-questions{
  font-weight: 700;
}

.pds-answers{
  color: #3395D6;
  font-weight: 400;
}

.dialog-button {
  background-color: #66AFE0 !important;
}

.dialog-button:hover {
  background-color: rgb(51, 149, 214) !important;
}

.detail-content-left{
  float: left;
}

.detail-content-right{
  float: right;
  right: -100px;
}

.pds-grid-icon{
  font-size: 16px;
  padding: 0px 2px;
}

.pds-icon-button {
  padding: 0px !important;
  padding-top:2px !important;
  padding-left: 7px !important;
  padding-right: 7px !important;
  border: 0px !important;
}