
<div ng-init="init()">
	<div class="demo-section k-content" align="center">
        <h3>Fill in a term for concept insights in Wikipedia:</h3>
        <input id="inputTextSearch" ng-model="inputTextSearch" style="width: 40%;" />
        <kendo-button id="searchBtn" ng-click="homeController.conceptInsights()">Search</kendo-button>
    </div>
<br/>
	<div class="k-block">
		<div id="searchedEntriesGrid" kendo-grid="entries"
			k-options="searchedEntriesOptions"
			k-columns="searchedEntriesGridColumns"
			k-data-source="searchedConceptEntriesDataSource"
			style="height: 65vh"></div>

		<h5>Results are only in English. Searched terms not in English will have language identified, and will fall back to its translation to English.</h5>
	</div>
</div>