
<div ng-init="init()">
	<div class="demo-section k-content" align="center">
        <h4>Fill in a term for concept insights:</h4>
        <input id="inputTextSearch" ng-model="inputTextSearch" style="width: 40%;" />
        <kendo-button id="searchBtn" ng-click="homeController.conceptInsights()">Search</kendo-button>
    </div>
<br/>
	<div class="k-block">
		<div id="searchedEntriesGrid" kendo-grid="entries"
			k-options="searchedEntriesOptions"
			k-columns="searchedEntriesGridColumns"
			k-data-source="searchedConceptEntriesDataSource" k-selectable="true"
			style="height: 65vh"></div>

	</div>
</div>